{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{% static 'css/ranking.css' %}">
    <title>Ranking</title>
    <style>
    
    </style>
  </head>
  <body>
    <!--navbar and picture-->
    <div class="banner">
      <div class="navbar">
        <img src="{%static '/img/1.jpg' %}" class='logo' />
        <ul>
          <li class="active"><a href="{%url 'home'%}">Home</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Order</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Us Moment</a></li>
        </ul>
      </div>
      <div class="content">
        <h1>COMSATS UNIVERSITY ISLAMBAD,SAHIWAL CAMPUS</h1>
        <h3>Explore the Campus Virtually</h3>
      </div>
      <div class="button">
        <a href={%url 'cuivirtual'%} class="btn">Take a guided Tour</a>
      </div>
    </div>
    

    <div class="beforeabout">
      <a class="et_pb_button" title="Relevant Title" href="{%url 'facts'%}">Facts and History</a>
      <a id='rankss' class="et_pb_button" title="Relevant Title" href="{%url 'ranking'%}">Ranking</a>
      <a  class="et_pb_button" title="Relevant Title" href="{%url 'visitorsinfo'%}">Visitors Information</a>
      <a  class="et_pb_button" title="Relevant Title" href="{%url 'prospectus'%}">Prospectus</a>
     

   
    </div>
    <br><br>

    <div class="work">
      <div class="left">
        <h2 style="font-size: 34px; word-spacing: normal;color: #401c58;text-decoration: underline;">Ranking:</h2>
       <br> <p style="font-size: 18px;">During the last 15 years, CUI has witnessed a phenomenal growth to an extent that it would perhaps not be out of place to say that CUI has been one of the fastest growing educational University of the decade. All through these years, various external bodies have evaluated CUI and the quality of its programs, based on very stringent quality and professional standards. The most important independent entities and regulatory bodies evaluating CUI and its programs are the Higher Education Commission (HEC), the Pakistan Engineering Council (PEC), National Computing Education Accreditation Council (NCEAC), and the Institute of Scientific Information (ISI) Web of Knowledge.

          <br> <br> It is a matter of pride for the CUI that it has been able to record remarkable achievements in terms of ranking of its Engineering degree programs as well as research productivity of the faCUIlty members.
            
          <br> <br> The various rankings, year wise are listed below for the interest of CUI stakeholders.
        </p>
        <br>
        <!---->
        <h2 style="font-size: 34px; word-spacing: normal;color: #401c58;text-decoration: underline;">2016:</h2>
        <br> <p style="font-size: 18px;">In February 2016, University Rankings for the year 2015 were announced by HEC. CUI has been ranked at No.3 in the General Category, and at No. 6 in overall universities within Pakistan as ranked by HEC.

          <br><br>  The details are available at: <br><br>
          <a href="http://hec.gov.pk/InsideHEC/Divisions/QALI/Others/RankingofUniversities/DoCUIments/Ranking_Doc.pdf" style="font-size: 18px;">http://hec.gov.pk/InsideHEC/Divisions/QALI/Others/RankingofUniversities/DoCUIments/Ranking_Doc.pdf</a>
         </p>
         <br>
         <!---->
         <h2 style="font-size: 34px; word-spacing: normal;color: #401c58;text-decoration: underline;">2015:</h2>
         <br> <p style="font-size: 18px;">In May 2015, University Rankings for the year 2014 were announced by HEC. CUI has been ranked at No.2 in the General Category, and at No. 4 in overall universities within Pakistan as ranked by HEC </p>
          <br>
          <!---->
          <h2 style="font-size: 34px; word-spacing: normal;color: #401c58;text-decoration: underline;">2014:</h2>
          <br> <p style="font-size: 18px;">In May 2014, the CUI attained position in 201-250 range of top Asian Universities by QS Asian University Rankings. In these Asian University Rankings, 10 institutions from Pakistan including CUI are among top 300 in Asia.
        <br><br>  The details are available at: 
            <a href=" https://comsats.edu.pk/AboutCIIT/ciit_attains_position.aspx" style="font-size: 18px;"> https://comsats.edu.pk/AboutCIIT/ciit_attains_position.aspx</a>
           </p>
           <br>
           <!---->
           <h2 style="font-size: 34px; word-spacing: normal;color: #401c58;text-decoration: underline;">2013:</h2>
           <br> <p style="font-size: 18px;">In 2013, Higher Education Commission (HEC) announced Quality and Research based Rankings of Pakistani Higher Education Institutes where CIIT has been ranked at number 4 in General Universities (Large) category among all 132 universities of Pakistan.
            Besides, CUI earned an overall 3 stars rating out of a total of Five by QS.
         <br><br>  The details are available at:
             <a href="https://www.comsats.edu.pk/Qs/qs_stars.aspx" style="font-size: 18px;"> https://www.comsats.edu.pk/Qs/qs_stars.aspx</a>
            </p>
            <br>
            <!---->
            <h2 style="font-size: 34px; word-spacing: normal;color: #401c58;text-decoration: underline;">2012:</h2>
            <br> <p style="font-size: 18px;">In the year 2012, HEC announced the Quality and Research Based rankings of Pakistani Higher Education Institutions (HEIs) on February 23, 2012. Comsats University Islamabad (CUI) seCUIred the first position in Computer Science and IT category. Besides, CUI has also been placed at number nine in overall Top Ten HEIs of Pakistan out of 132 universities.

            <br><br>    HEC-Pakistan is the first country in the Islamic world that has developed ranking criteria, methodology, and has conducted a ranking exercise based on QS (world level) Ranking. This initiative of QS ranking was taken up by HEC with the objective to promote a CUIlture of participating in the world university rankings for the purpose of getting reasonable reflection of HEIs development in the country.
          <br><br>  The details are available at:
              <a href="http://beta.hec.gov.pk/InsideHEC/Divisions/QALI/Others/RankingofUniversities/Pages/Introduction.aspx" style="font-size: 18px;"> http://beta.hec.gov.pk/InsideHEC/Divisions/QALI/Others/RankingofUniversities/Pages/Introduction.aspx</a>
             </p>
             <br>
      </div>
      <div class="right">
        <img src="{%static '/img/c4.jpg' %}" style="width:380px;height:340px;">
        <br><br><br>
        <div class="boxright">
        <h2>CUI SAHIWAL AT A GLANCE</h2>
        <ul style="margin: 18px;">
          <li>Campus Established: 2006</li><br>
          <li>  Total Area: 36 Acres</li><br>
          <li>  Total no. of faculty: 214</li><br>
          <li>  Total no. of PhD faculty: 66</li><br>
          <li> Total Programs Offered: 16</li><br>
          <li>  Enrolled Students: 3090</li><br>
          <li>  Passed Out Students: 6238</li><br>
        </ul>
        <br><br>
      </div>
      </div>
    </div>
    </div>
    <br><br>

  </body>
</html>
